
body {
    background-image: url("daytimes.gif"); 
    height: 100vh; 
    width: 100vw;
    max-width: fit-content;
    max-height: min-content;
    margin: 20px 50px 20px 50px;
    padding: 25px 25px 25px 2px;
    background-size:cover;
    color: black;
    font-family: url('https://fonts.googleapis.com/css2?family=Jersey+20&display=swap');

}

#container {
  position:absolute; 
  top:0; left:0; right:0; bottom:0; 
  margin:auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: 400px;
  background-color: rgba(157, 187, 172, 0.685);
  border-width: 10px;
  border-style: ridge;
  border-color: rgba(120, 189, 179, 0.893);
  border-radius: 50px;
}


header {
    grid-area: inherit;
    background-color: rgba(50, 106, 139, 0.704);
    text-transform: uppercase;
    border-style: ridge;
    border-radius: 30px;
    text-align: center;
    color: rgb(116, 255, 200);
}

.div3{ 
    position: absolute;
    left: 500px; top: 200px;   
    width: 130px;
    height: 50px;
    background-color: rgba(50, 106, 139, 0.704);
    text-transform: uppercase;
    border-style: ridge;
    border-radius: 30px;
    text-align: center;
    color: rgb(134, 255, 206);
}


.div4 {
    position: absolute;
    left: 500px; top: 140px;
    width: 130px;
    height: 50px;
    background-color: rgba(50, 106, 139, 0.704);
    text-transform: uppercase;
    border-style: ridge;
    border-radius: 30px;
    text-align: center;
    color: rgb(134, 255, 206);
}

.div5{
    position: absolute;
    top: 100px;
    width: 130px;
    height: 50px;
    background-color: rgba(50, 106, 139, 0.704);
    text-transform: uppercase;
    border-style: ridge;
    border-radius: 30px;
    text-align: center;
    color: rgb(134, 255, 206);
}


.div6{
    position: absolute;
    top: 175px;
    width: 130px;
    height: 50px;
    background-color: rgba(50, 106, 139, 0.704);
    text-transform: uppercase;
    border-style: ridge;
    border-radius: 30px;
    text-align: center;
    color: rgb(134, 255, 206);
}


.div7{
    position: absolute;
    top: 250px; 
    width: 130px;
    height: 50px;
    background-color: rgba(50, 106, 139, 0.704);
    text-transform: uppercase;
    border-style: ridge;
    border-radius: 30px;
    text-align: center;
    color: rgb(134, 255, 206);
}


.rules-button {
    position: absolute;
    top: 320px;
    right: 150px;
    width: fit-content;
    padding: 16px 24px;
    border-radius: 4px;
    color: #000000;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    background-color: rgba(190, 130, 197, 0.404);
    border: solid;
    border-color:rgba(50, 51, 53, 0.324);
    border-radius: 30px;
    text-align: justify;
    text-decoration: none;
  }

  .rules {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
  }

  .rules-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(118, 184, 181, 0.684);
    left: 0;
  }

  .rules-content {
    background:rgba(190, 130, 197, 0.796);
    width: 40%;
    position: relative;
    margin: auto;
    height: 75%;
    padding: 30px 20px;
    border-radius: 30px;
    max-width: 500px;
    text-align: center;
  }

  .rules-close {
    font-size: 30px;
    text-decoration: none;
    position: absolute;
    right: 25px;
    top: 5px;
  }

  .break {
    width: 150px;
  }

  .rules:not(:target) {
    display: none;
  }



.button1, .button2, .button3, .button4{
    border-radius: 30px;
    background-color: rgba(148, 105, 143, 0.679);
    color: rgb(255, 192, 203);
    width: 100px;
    height: 30px;

}

.button1{
  position: absolute;
  left: 30px; bottom: 20px;
}
.button2{
  position: absolute;
  left: 180px; bottom: 20px;
}
.button3{
  position: absolute;
  right: 30px; bottom: 20px;
}
.button4{
  position: absolute;
  left: 360px; bottom: 20px;
}

 #dead {
  position: relative;
  top: 70px; right: 230px;
}
 #adult{  
  position: relative;
  top: 70px; right: 65px;
 }

#baby{
  position: relative;
  top: 70px; right: -75px;
}

#egg{
  position: relative;
  top: 70px; right: -220px;
}




.pets {
  animation: slide 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  position: relative;
}

@keyframes hover {
  0%, 100%{
    bottom: 0
  } 
  50% {
    bottom: 50px
  }
}

@keyframes slide {
  from {
    transform:translateX(-20%)

  }
} to {
    transform: translateX(0%)
}



